doctype html
html
  head
    title Cat Food
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav

      a(href="/")
        h1 Cat Food
      ul 
        li 
          a(href="/inventory") Inventory 
        li 
          a(href="/new-item") New Item
    block content