@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #81ff4385;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
  background-color: rgb(0 0 0 / 10%);
}

nav > h1 {
  font-size: 36px;
}

nav > ul {
  display: flex;
  gap: 16px;
}

li {
  list-style: none;
  width: fit-content;
}

nav a {
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 24px;
  text-decoration: none;
}

nav a:hover {
  color: hsla(0, 0%, 0%, 0.9);
}

form {
  display: grid;
  width: 300px;
  justify-content: center;
}

button {
  border: none;
  background-color: rgb(0 0 0 / 10%);
  font-size: 18px;
  padding: 8px;
}

button:hover {
  background-color: rgb(0 0 0 / 30%);
}

form > h1 {
  margin: 0 0 16px;
}

form > label {
  font-size: 14px;
  letter-spacing: 2px;
}

form > input,
select {
  border: none;
  background-color: rgb(0 0 0 / 10%);
  font-size: 18px;
  padding: 8px;
  outline: none;
  margin-bottom: 8px;
  border-bottom: 2px solid black;
}

form > input:focus {
  border-bottom: 2px solid green;
}

.wrapper {
  padding: 16px;
}

.wrapper a {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.link {
  color: #0094ff;
}

.link-fit-content {
  width: fit-content;
}

img {
  width: 300px;
  height: 300px;
  background-color: white;
}

.product-price {
  font-size: 24px;
  font-weight: 300;
}

.product-name {
  font-size: 20px;
  font-weight: 500;
}

.product-category {
  font-size: 18px;
  background-color: pink;
  width: fit-content;
  padding: 4px 16px;
  border-radius: 6px;
  font-weight: 400;
}

.product {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 16px 8px;
  border-radius: 8px;
}

.product_info {
  width: 300px;
}

.wrapper ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 0));
  gap: 16px;
  justify-content: center;
}

.item {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 48px 0 0 0;
}
